<script>
  import { $, $$, clases, dotClass } from "../js/utils";
  import { ConsoleManager } from "../js/consoleObject/consoleManager";
  import { messageFormat } from "../js/consoleObject/consoleManager";

  document.addEventListener("DOMContentLoaded", () => {
    const $inputElement = $("#input-msg") as HTMLInputElement;

    $(".consola-box")?.addEventListener("click", () => {
      $inputElement.focus();
    });

    $("#input-form")?.addEventListener("submit", function (event) {
      event.preventDefault();

      $inputElement.placeholder = "";

      const consola = new ConsoleManager();

      const $consola = consola.getConsola();

      if ($inputElement) {
        const inputValue = $inputElement.value;
        consola.limpiarInput($inputElement);

        consola.ejecutarComando(inputValue);

        let $$inlineMsg = $$(dotClass(messageFormat.middle), $consola);
        let contador = $$inlineMsg.length + 1;

        if (contador > 40) {
          consola.removeFirstElements();
        }
      }
    });
  });
</script>

<div
  class="consola-box h-64 max-h-64 md:h-full md:max-h-none overflow-y-scroll bg-[#000000ac] md:bg-[#00000029]"
>
  <form id="input-form">
    <label>
      <span class="green">></span>
      <input
        id="input-msg"
        type="text"
        name="linea de comandos"
        autocomplete="off"
        placeholder='Intenta con "Hola"'
      />
    </label>
  </form>
  <div id="consola" class="msg"></div>
</div>

<style is:global>
  .inline-msg,
  .middle-msg {
    display: flex;
    flex-direction: row;
    p {
      padding-left: 5px;
    }
  }
  .inline-msg {
    font-size: 13px;
  }
  .middle-msg > p {
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.23em;
    font-size: 13px;
  }
  .green {
    color: #25cc54;
  }
  .middle-msg > .green {
    display: none;
  }
</style>

<style>
  .consola-box,
  #input-form {
    font-family: "Orbitron";
  }

  #input-form {
    label {
      display: flex;
      flex-direction: row;
      input {
        background: transparent;
        border: 0;
        outline: none;
        padding-left: 5px;
        font-size: 12px;
        color: white;
      }
    }
  }
  .consola-box {
    grid-area: consola;
    display: flex;
    flex-direction: column-reverse;
    padding: 10px;
    padding-bottom: 5px;
  }
  .consola {
    font-size: 12px;
  }
</style>
