---
import VerticalText from "./VerticalText.astro";
---

<script>
    import { $ } from "../js/utils";

    const $imagen = $(".imagen");
    const $reproductor = $("#reproductor") as HTMLAudioElement;

    let isFirstClick = true;

    const DIEZMINUTOS = 10 * 60 * 1000;

    let audioUrl: string | null = null;
    let audioUrlExpiry: number | null = null;
    const audioUrlDuration = DIEZMINUTOS;

    async function fetchAudioUrl(): Promise<string | null> {
        const now = Date.now();
        if (audioUrl && audioUrlExpiry && now < audioUrlExpiry) {
            return audioUrl;
        }
        try {
            const response = await fetch(
                "https://api.mr-zemoreno.dev/get?fileName=01%20El%20Necio.m4a",
                {
                    headers: {
                        "api-key": "AZIAU6GDKaZaZIAU6GDZaZIAU6GD",
                    },
                },
            );
            const json = await response.json();
            audioUrl = json.url || null;
            audioUrlExpiry = now + audioUrlDuration;
            return audioUrl;
        } catch (error) {
            console.error("Error:", error);
            return null;
        }
    }

    let isPlaying = false;

    $imagen.addEventListener("click", async () => {
        $imagen.classList.toggle("invert-color");

        let newAudioUrl = $imagen.classList.contains("invert-color")
            ? await fetchAudioUrl()
            : null;

        if (isFirstClick) {
            $imagen.classList.add("first-click");
            isFirstClick = false;
        } else if (!$imagen.classList.contains("invert-color")) {
            $imagen.classList.remove("first-click");
        }

        if (newAudioUrl) {
            if (newAudioUrl !== $reproductor.src) {
                $reproductor.src = newAudioUrl;
                $reproductor.load();
            }
            if (!isPlaying) {
                $reproductor
                    .play()
                    .then(() => {
                        isPlaying = true;
                    })
                    .catch((error) => {
                        console.error("Error al reproducir el audio:", error);
                    });
            }
        } else {
            if (isPlaying) {
                $reproductor.pause();
                $reproductor.currentTime = 0;
                isPlaying = false;
            }
        }
    });
</script>

<div class="imagen">
    <VerticalText>「ロボットそれとも人間？」</VerticalText>
</div>
<audio src="" class="hidden" id="reproductor"></audio>

<style>
    .first-click {
        transition: filter 5s;
    }

    @keyframes pulsacion {
        40% {
            transform: scale(1);
        }
        45% {
            transform: scale(1.01);
        }
        50% {
            transform: scale(1);
        }
        60% {
            transform: scale(1.01);
        }
        65% {
            transform: scale(1);
        }
    }
    .invert-color {
        filter: invert(100%);
        animation: pulsacion 1.5s infinite;
    }
    .imagen {
        height: 100%;
        background-image: url("/src/img/chappie.webp");
        background-position-y: -10px;
        background-size: 100%;
        grid-area: image;
    }
</style>
