<p class="vertical text-[18px] md:text-[25px]"><slot /></p>

<style>
  .vertical {
    font-family: "Archivo Black", sans-serif;
    margin-top: 10px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-weight: 500;
    user-select: none;
    pointer-events: none;
  }
</style>
