<p class="vertical"><slot /></p>

<style>
    .vertical {
        font-family: "Archivo Black", sans-serif;
        margin-top: 10px;
        writing-mode: vertical-rl;
        text-orientation: upright;
        font-size: 25px;
        font-weight: 500;
        user-select: none;
        pointer-events: none;
    }
</style>
