<div
  class="fixed
  text-white
    text-center
    flex flex-col
    justify-center
    items-center
    md:hidden
    h-full
    w-full z-50
    bg-black
    top-0 left-0"
>
  <p>
    Lo siento, aún estoy desarrollando para esta relaciones de aspecto.
    <br />
    Por favor visítanos en un PC.
  </p>
  <img src="/svg/crane.svg" alt="crane" class="h-20 w-20 mt-4" />
</div>
